<header class="header">
  <nav class="nav">
    <ul class="header-menu">
      <li class="nav-link"><%= current_user.name  %>さん</li>
      <li class="header-menu-title"><%= link_to "TaskKanban", root_path, class: 'nav-link' %></li>
      <li>
        <ul class="header-menu-inner">
          <li><%= link_to 'リストを作成する', '#', class: 'nav-link list-create' %></li>
          <li><%= link_to 'ログアウト', logout_path, class: 'nav-link' %></li>
        </ul>
      </li>
    </ul>
  </nav> 
</header>
