<header class="header">
  <nav class="nav">
    <ul class="header-menu">
      <li class="nav-link">ようこそ</li>
      <li class="header-menu-title"><%= link_to "TaskKanban", root_path, class: 'nav-link' %></li>
    </ul>
  </nav> 
</header>
