.card-show-page {
  .card-contents {
    margin: 60px auto 0;
    max-width: 600px;
    &-title {
      h2 {
        font-size: 22px;
      }
    }
    &-title, &-memo, &-list-status{
      border-bottom:1px solid #ccc ;
      margin-bottom: 30px;
    }
    &-btn-area {
      margin-top: 40px;
      text-align: center;
      & > a {
        display: block;
        &.edit-btn {
          max-width: 200px;
          margin: 0 auto;
          background: #026aa7;
          padding: 7px;
          border-radius: 10px;
          color: #fff;
          transition: opacity .5s;
          text-decoration: none;
          &:hover {
            opacity: .7;
          }
        }
        &.delete-btn {
          margin-top: 20px;
        }
      }
    }
  }
}
